@import 'helpers';
.loader-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      border-top: 3px solid $secondary-color;
      border-right: 3px solid $secondary-color;
      animation: loading 1s infinite linear;
      @keyframes loading {
        to{
          transform: rotate(360deg);
        }
      }
    }
  }