@import 'helpers';
.tool-bar{
    input[type=search]{
        font-size: 12px;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid #ccc;
        // margin-right: 15px;
        &::placeholder{
            font-size: 12px;
        }
        @media screen and (max-width: 540px) {
            padding: 5px 10px;
        }
        @media screen and (max-width: 414px) {
            padding: 3px 6px;
        }
        @media screen and (max-width: 280px) {
            padding: 2px 6px;
        }
    }
    .reset-search{
        font-size: 15px;
        cursor: pointer;
        @media screen and (max-width: 912px) {
            font-size: 10px;
        }
    }
}